<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs", {style: "form-styles" , title: " - Crear Producto" })%>

	<body>
		<%- include("../partials/header.ejs")%>
			<div class="page-container">
				<main>
				<h3 class="products-title">Formulario de creación de productos</h3>
					<div class="container create-container">
					<form action="/products/" method="POST" enctype="multipart/form-data" >
							<div class="form-fields">
								<div class="field-container">
									<label for="name" class="form-label">Nombre del producto:</label>
									<input type="text" id="name" name="name" placeholder="Ej: Habitación de lujo" class="controls" required>
								</div>

								<div class="field-container">
									<label for="price" class="form-label">Precio:</label>
									<input type="number" id="price" name="price" placeholder="Ej: 5678" class="controls" required>
								</div>
				
								<div class="field-container">
									<label for="category" class="form-label">Categoría:</label>
									<select name="category" id="category" class="controls">
										<% categories.forEach(category => { %>
										 	<option id="<%=category.name%>" value="<%=category.id%>"><%= category.name == 'room' ? 'Habitación' : 'Actividad'%></option>
										<% }) %>
									</select>
								</div>
				
								<div class="field-container">
									<label for="description" class="form-label">Descripción:</label>
									<input type="text" id="description" name="description" placeholder="Ej: Habitación de lujo" class="controls">
								</div>
				
								<div class="field-container">
									<label for="long-description" class="form-label">Descripción larga:</label>
									<textarea name="longDescription" id="long-description" class="controls"></textarea>
								</div>
				
								<!-- Este campo deberia ocultarse si la categoria es Actividad pero aun no vimos como hacer eso -->
								<div class="field-container">
									<label for="capacity" class="form-label">Capacidad:</label>
									<input type="number" id="capacity" name="capacity" placeholder="Ej: 2" class="controls">
								</div>
								<!-- Este campo deberia ocultarse si la categoria es Habitación pero aun no vimos como hacer eso -->
								<div class="field-container">
									<label for="duration" class="form-label">Duración:</label>
									<input type="number" id="duration" name="duration" placeholder="Ej: 60" class="controls">
								</div>
				
								<div class="field-container">
									<label for="discount" class="form-label">Porcentaje de descuento</label>
									<input type="number" id="discount" name="discount" placeholder="Ej: 15" class="controls">
								</div>
								<!-- Este campo deberia ocultarse si la categoria es Habitación pero aun no vimos como hacer eso -->
								<div class="field-container">
									<label for="services" class="form-label">Serivicios:</label>
										<div class="services">
											<% availableServices.forEach((service, index) => { %>
												<label for="service<%=index%>">
														<input
															type="checkbox"
															name="services"
															id="service<%=index%>"
															value="<%=service.id%>"
														/>
														<%=service.name%>
												</label>
											<% }) %>
										</div>
									</label>
								</div>
								<div class="field-container">
									<label for="image" class="form-label">Imagen del producto</label>
									<input type="file" id="image" name="image" class="controls">
								</div>
				
								<button class="button buy-now-button" type="submit">Guardar producto</button>
							</div>
						</div>
					</form>
				</div>
				</main>
			</div>
			
			<%- include("../partials/footer.ejs")%>
			<%- include("../partials/scripts.ejs")%>
	</body>
</html>