<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs", {style: "product-styles", title: " - Listado de productos"})%>
    <body>
        <%- include("../partials/header.ejs")%>
        <div class="page-container">
            <main>
            <h2 class="products-title"><%=title%></h2>
                <div class="products-container">
                    <% for (let product of products) { %>
                        <div class="product-card">
                            <a href="/products/detail/<%= product.id %> ">
                                <article>
                                        <figure class="image-container product-image-container">
                                            <img class="product-image"
                                                src="/images/<%= product.image %>"
                                                alt="imagen de producto"
                                            />
                                        </figure>
                                        <section class="product-text">
                                            <p class="product-name"><%= product.name %></p>
                                            <p class="product-category"><%= product.category == "room" ? "Habitación" : "Actividad"%></p>
                                            <p class="product-price"><%= product.price %></p>
                                            <span class="product-discount"><%= product.discount %> % OFF</span>
                                        </section>
                                </article>
                            </a>
                        </div>
                    <% } %>
                </div>
                <% if (locals && locals.isLogged && locals.loggedUser.category == "admin") { %>
                    <div class="button-container">
                        <a href="/products/create" class="create-product-link">
                            <button class="create-product">
                                <div class="create-product-container">
                                    <i class="fa-solid fa-plus plus-icon"></i>
                                    <span class="create-product-text">Crear Producto</span>
                                </div>
                            </button>
                        </a>
                    </div>
                <% } %>

            </main>
        </div>
        <%- include("../partials/footer.ejs")%>
    </body>
</html>