<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs", {style: "form-styles", title: " - Edite su perfil"})%>
	<body>
	<%- include("../partials/header.ejs")%>
		<div class="page-container">
			<main>
			<div class="form-container">
				<h5>Actualice sus datos</h5>
					<div class="image-container">
						<img src="/images/<%=user.image%>" alt="Imagen de perfil del usuario">
					</div>
					<form action="/users/<%=user.id%>?_method=PUT" method='POST' enctype="multipart/form-data">
						<div>
							<label for="name">Nombre</label>
							<input
								class="controls"
								type="text"
								name="name"
								id="name"
								placeholder="Nombre"
								value="<%=user.name%>"
								required
							/>
							<label for="lastName">Apellido</label>
							<input
								class="controls"
								type="text"
								name="lastName"
								id="lastName"
								placeholder="Apellido"
								value="<%=user.lastName%>"
								required
							/>
							<label for="email">E-mail</label>
							<input
								class="controls"
								type="email"
								name="email"
								id="email"
								placeholder="E-mail"
								value="<%=user.email%>"
								required
							/>
							
							<label for="image" class="form-label">Imagen de perfil</label>
							<input type="file" id="image" name="image" class="controls">

							<button class="button" type="submit"><h3>Editar</h3></button>
                            <button class="button" type="submit"><h3>Aceptar</h3></button>
						</div>
					</form>
					
			</div>
			</main>
		</div>
		<%- include("../partials/footer.ejs")%>
		<%- include("../partials/scripts.ejs")%>
	</body>
</html>
