<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs", {style: "form-styles", title: " - Edite su perfil"})%>
	<body>
	<%- include("../partials/header.ejs")%>
		<div class="page-container">
			<main>
				<div class="form-container edit-profile-container">
					<h5>Actualice sus datos</h5>
					<div class="edit-profile">
						<div class="image-container">
							<img src="/images/<%=user.image%>" alt="Imagen de perfil del usuario">
						</div>
						<div class="user-data">
							<form action="/users/<%=user.id%>?_method=PUT" method='POST' enctype="multipart/form-data">
								<div class="input-container">
									<div class="field-container">
										<label for="name">Nombre</label>
										<input
											class="controls"
											type="text"
											name="name"
											id="name"
											placeholder="Nombre"
											value="<%=user.name || oldData.name%> "
											required
										/>
										<% if (locals && locals.errors && errors.name) { %>
								 			<p class="error"><%=errors.name.msg%></p>
										<% } %>
									</div>
									<div class="field-container">
										<label for="lastName">Apellido</label>
										<input
											class="controls"
											type="text"
											name="lastName"
											id="lastName"
											placeholder="Apellido"
											value="<%=user.lastName || oldData.lastName%>"
											required
										/>
										<% if (locals && locals.errors && errors.lastName) { %>
								 			<p class="error"><%=errors.lastName.msg%></p>
										<% } %>
									</div>
									<div class="field-container">
										<label for="email">E-mail</label>
										<input
											class="controls"
											type="email"
											name="email"
											id="email"
											placeholder="E-mail"
											value="<%=user.email || oldData.email%>"
											required
										/>
										<% if (locals && locals.errors && errors.email) { %>
								 			<p class="error"><%=errors.email.msg%></p>
										<% } %>
									</div>

									<input type="checkbox" name="changePassword" id="change-password">
									<label id="change-password-label" for="changePassword">¿Desea cambiar su contraseña?</label>
									<div class="password-fields">
										<div class="field-container">
											<label for="currentPassword">Contraseña actual</label>
											<input
												class="controls"
												type="password"
												name="currentPassword"
												id="currentPassword"
												placeholder="Contrseña actual"
											/>
											<% if (locals && locals.errors && errors.currentPassword) { %>
								 				<p class="error"><%=errors.currentPassword.msg%></p>
											<% } %>
										</div>
										<div class="field-container">
											<label for="newPassword">Nueva contraseña</label>
											<input
												class="controls"
												type="password"
												name="password"
												id="newPassword"
												placeholder="Nueva contraseña"
											/>
											<% if (locals && locals.errors && errors.password) { %>
								 				<p class="error"><%=errors.password.msg%></p>
											<% } %>
										</div>
										<div class="field-container">
											<label for="newPassword2">Confirme su nueva contraseña</label>
											<input
												class="controls"
												type="password"
												name="confirmPassword"
												id="newPassword2"
												placeholder="Nueva contraseña"
											/>
											<% if (locals && locals.errors && errors.confirmPassword) { %>
								 				<p class="error"><%=errors.confirmPassword.msg%></p>
											<% } %>
										</div>
									</div>
						
									<div class="field-container">
										<label for="image" class="form-label">Imagen de perfil</label>
										<input type="file" id="image" name="image" class="controls">
									</div>
									<div class="button-container">
										<button class="button profile-button profile-button-save" type="submit"><span class="button-text">Editar</span></button>
										<button class="button profile-button"><a class="profile-back-link" href="/users/profile/<%=user.id%>"><span class="button-text">Cancelar</span></a></button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</main>
		</div>
		<%- include("../partials/footer.ejs")%>
		<%- include("../partials/scripts.ejs")%>
	</body>
</html>
